*{
    background-color: black;
    box-sizing: border-box;
}
body{
    justify-content: center;
    display: flex;
    margin: 400px 150px;
}
.linea_1{
    padding: 180px 45px 0px 0px;
    background-color: rgb(200, 19, 19);
    position: relative;
    
}
.linea_2{
    margin-left: 46.5px;
    padding: 180px 45px 0px 0px;
    background-color: rgb(200, 19, 19);
    position: relative;
}
.linea_3{
    box-shadow: 0px 0px 10px 3px rgb(0, 0, 0);
    padding: 180px 46px 0px 0px;
    background-color: red;
    transform: skew(26deg);
    position: absolute;
}
